/* @font-face {
	font-family: Lato;
	src: url(../fonts/Lato-Regular.ttf);
} */

@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
	--primary-color: #0fa3a3;
	--secondary-color: #123846;
	--secondary-text-color: #707070;
	--footer-text-color: #00ffec;
}
body {
	box-sizing: border-box;
}

.nogutter {
	padding-right: 0px;
	padding-left: 0px;
}

/* ScrollTop Btn */
#scrollTop {
	position: fixed;
	bottom: 15%;
	right: 1%;
	font-size: 20px;
	background: var(--primary-color);
	color: #f7f7f9;
	border: 2px solid var(--secondary-color-color);
	z-index: 3;
	width: 45px;
	height: 45px;
	outline: none;
}

/* main-page */
.main-page {
	position: relative;
	font-family: "Lato", sans-serif;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: left bottom;
	background-image: url("../img/Background-transparent.png");
}
.logo {
	width: 116px;
	height: 42px;
}
.nav-div {
	padding: 0px 30px;
	transition: background-color 0.5s ease-out;
	-webkit-transition: background-color 0.5s ease-out;
}
.stuck {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--primary-color);
	width: 100%;
	z-index: 2;
}
.nav-item {
	padding: 0px 16px;
	font-size: 16px;
}
.custom-navbar-color {
	border-radius: 8px;
	overflow: hidden;
}
.navbar-toggler:not(:disabled):not(.disabled) {
	outline: none;
}
/* active/hover */
.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link {
	color: var(--secondary-color);
	border-bottom-color: var(--primary-color);
}
/* normal */
.navbar-light .navbar-nav .nav-link {
	color: var(--secondary-color);
	border-bottom: 2px solid transparent;
	transition: border-bottom-color 0.5s ease-out;
	-webkit-transition: border-bottom-color 0.5s ease-out;
}
/* stuck active/hover */
.stuck .navbar-light .navbar-nav .nav-item .nav-link:hover,
.stuck .navbar-light .navbar-nav .nav-item.active .nav-link {
	color: white;
	border-bottom-color: var(--secondary-color);
}
/* stuck normal */
.stuck .navbar-light .navbar-nav .nav-link {
	color: white;
	border-bottom: 2px solid transparent;
	transition: border-bottom-color 0.5s ease-out;
	-webkit-transition: border-bottom-color 0.5s ease-out;
}
.nav-item:last-child {
	padding-right: 0px;
}
/* tigrow-wrapper */
#tigrow-wrapper {
	height: calc(100% - 68px);
}
.p-text {
	color: var(--secondary-text-color);
}

/* custom_slider */
.owl-carousel {
	position: relative;
}
.owl-carousel .owl-item img {
	width: 70%;
	margin: 0 auto;
}

.owl-dots button {
	outline: none;
}
.owl-dots {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

/* section-about */
section {
	margin: 0;
}
.what-we-do {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: auto;
	padding: 5rem 0;
	max-width: 991px;
}

/* services */
.wrapper {
	max-width: 991px;
}
.services {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 350px;
	margin-bottom: 2rem;
}
.service-text p {
	height: auto;
	padding-bottom: 1rem;
	border-bottom: 3px ridge rgba(20, 216, 190, 0.11);
	border-radius: 0px 0px 30px 0px;
}
.services:last-child {
	margin-bottom: 0;
}
.services:nth-child(odd) > div:first-child {
	order: 1;
}
.service-img {
	height: 350px;
}
.services > div > img {
	height: 100%;
	display: block;
	display: block;
	margin: 0 auto;
}

/* contact-us */
.contact-us {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: minmax(500px, auto);
	margin: 5rem 0;
	background-image: url("../img/Background-transparent.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	height: calc(100% - 68px);
}
.contact-us > div > img {
	display: block;
	margin: 0 auto;
}
.contact-us-text {
	margin-bottom: 2.5rem;
}
.info-item {
	font-family: monospace;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.info-item i {
	font-size: 30px;
	margin-top: 2rem;
}
.info-item .links i {
	font-size: 30px;
	margin-top: 2rem;
	margin-right: 1.5rem;
}
.info-item .links a:last-child i {
	margin-right: 0;
}
.info-item a {
	color: black;
}
.fb {
	color: #3b5998;
}
.li {
	color: #007bb6;
}

/* footer */
#footer {
	background: var(--primary-color);
	color: #ffffff;
}
#footer a {
	color: var(--footer-text-color);
}
